.bigBG{
  background-image: url('HomePageImages/download.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow:hidden;
}
.vidDiv{
    position: relative;
    text-align: center;
    top: 100px;
}
.bioDiv{
    position: relative;
    left: 30%;
    top:  60%;
    width: 7%;
    border-color: black;
}
.bioText{
    position: relative;
    left: 36.5%;
    width: 40%;
    background-color: white;
    border-top: 10px;
    border-color: black;
    word-wrap: break-word;
    font-family: Helvetica;
    font-size: 15px;
    text-decoration-color: black;
}
.card1{
  position:relative;
  left:10%;
  top: 12%;
  width: 15%;
  color: inherit;
}
.card2{
  color: inherit;
  position:relative;
  left: 40%;
  top:10%;
  width: 15%;
}
.card3{
  color:inherit;
  position: relative;
  left: 70%;
  top: 10%;
}

